{% extends 'base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block meta %}
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <meta http-equiv="cache-control" content="public, max-age=86400" />
 <meta name="language" content="{{ LANGUAGE_CODE }}" />
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
 <meta name="keywords" content="environment, politics, technology, greenhouse gase, climate change, solar energy, energy efficiency, energy storage, EPA Clean Power Plan" />
 <meta name="description" content="DanuGroup, is a non-profit that examines the interplay between environmental issues, technological solutions, and political policy" />
{% endblock %}
{% block content %}
<div class="block" id="dgcontent">
        <br /><br />
        <h3>Contact DanuGroup</h3>
        <br />
        <div id="contact" class="clearfix">
            <div id="c_form">
                <form name="contactform" action="./" method="POST" class="contactform">
                    {% csrf_token %}
                    <table>
                        <h4>Name: {{form.name|escape}}</h4>
                        <h4>Email: {{form.email|escape}}</h4>
                        <h4>Message: {{form.message|escape}}</h4>
                    </table>
                    <br />
                    <input type="submit" value="Send Message"/>
                </form>
            </div>
        </div>
        <br /><br />
</div>
{% endblock %}

